<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Trilha_Pet::trilha03" title="Trilha 03" module="Trilha_Pet" resource="Trilha_Pet::menu" sortOrder="900" action="trilha_pet"/>
    </menu>
</config>
