<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Trilha\Pet\Api\PetRepositoryInterface" type="Trilha\Pet\Model\PetRepository"/>
    <preference for="Trilha\Pet\Api\Data\PetInterface" type="Trilha\Pet\Model\Pet"/>
    <preference for="Trilha\Pet\Api\Data\PetSearchResultsInterface" type="Trilha\Pet\Model\PetSearchResults"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pet_kind_grid_data_source" xsi:type="string">Trilha\Pet\Model\ResourceModel\Pet\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Customer">
        <plugin name="update_customer_name" type="Trilha\Pet\Plugins\UpdateCustomerName"/>
    </type>
</config>
